LICENSE
README.md
.gitattributes
.gitignore

build/*.sln
build/*.gypi
build/*.vcxproj
build/*.filters
build/Release/*.exp
build/Release/*.lib
build/Release/*.iobj
build/Release/*.ipdb
build/Release/*.pdb
build/Release/obj