build/*.sln
build/*.gypi
build/*.vcxproj
build/*.filters
build/Release/*.exp
build/Release/*.lib
build/Release/*.iobj
build/Release/*.ipdb
build/Release/*.pdb
build/Release/obj
binding.gyp
src/
include/
bin/
lib/
.gitattributes
.github/
.vscode/
.eslintrc
.prettierrc
.editorconfig
tsconfig.json
install.mjs